/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
  font-family: 'PPFraktionMono'
  src: url('/PPFraktionMono.otf');
}
.loader-back {
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}

.loader::after {
  content: 'Cargando...';
}
  

/* Estilos generales */
body {
    background-blend-mode: overlay;
font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
font-size: 1.2rem;
/*  font-family: "Playfair Display", serif;
*/
line-height: 1.5;
margin: 0;
display: flex;
position: fixed;
padding: 0;
box-sizing: border-box;
color: #333;
width: 100%;
height: 100%;
background-size: cover;
background-color:rgba(30,30,30,0.7);

  background-image:url(./img/fondo11.jpg);
  background-size:cover;
  align-items: center;
  justify-content: center;
}


ul {
  list-style: none;
  padding: 0;
}


a {
  text-decoration: none;
  cursor: pointer;
  color: #FDDE08;
}
a:hover{
 color:rgb(10,10,10);
}


.container {
  width: 90%;
  margin: auto;
  height: 100%;
align-content: center;
  position: relative;
  overflow-x: scroll; /* Mejor que scroll para que solo aparezca cuando sea necesario */
  margin: auto;
  height: 100%;
  
  /* Personalizaci贸n minimalista del scroll */
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent; /* Para Firefox */
}


/* Area de Paginas ocultas */



/* Hero Section */
.hero {
  background: white);
color: black;
width: 95%;
border-top: 1px solid #FDDE08;
border-bottom: 1px solid #FDDE08;
margin: auto;
height:  90%;
position: relative;
}

.intro {
  width: 100%;
  height: fit-content;
  margin: auto;
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

}
.title{
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
  position: absolute;
  z-index: 10;
  font-size: 16px;
  padding:0;
  color: #FDDE08;
  cursor: pointer;
  font-family: Inter;
}

.title:hover,.title:focus,.title:active{
  animation: pulse 1.5s infinite;
  background-color:#FDDE08;
  color: black;
}
@keyframes pulse {
  0% { opacity: 1; 
  }
  50% { opacity: 0.6; }
  100% { opacity: 1; }
}

.txt1{
  top:0;
  left: 0;
}
.txt2{
  top:0;
  right: 0;
}
.txt3{
  bottom: 0;
  left: 0;
}
.txt4{
  display: flex;
  bottom: 0;
  right: 0;
}
.txt1,.txt2,.txt3,.txt4:hover{
color:black;
}

.code-box {
  display: flex;
  color: black;
  border-radius: 8px;
  width: 100%;
  height:100%;
  margin: auto;
  position: relative;
  
}

.box {
  display: block;
  background-color: transparent;
  color: black;
  margin: auto;
  font-size: 15px;
  overflow: hidden;
  text-align: left;
  width: calc(90%/2);
  font-family: "IBM Plex Mono", monospace;

}
.box_1{
  display: flex;
  height:calc(100%/2);
  width: 100%;
  margin: 15px auto;
}
.box_1_div{
  overflow: hidden;
  width: calc(90%/3);
  border:1px solid black;
  background-color: rgba(250,250,250,0.19);
  margin: auto;
  height: 100px;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;


}

.div_info{
  font-family: "IBM Plex Mono", monospace;
  position: relative;
  display: block;
  visibility: hidden;
  color: white;
  transition: 0.4s;
  text-align: center;
}
.div_info p{
  position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
  height: fit-content;
  transition: 0.3s linear;
  bottom: -15px;

}
.box_1_div:hover .img { 
  transition: 0.7s ease;
  filter: invert(100%);  
}

.box_1_div:hover{  
  background-color: rgba(108, 108, 108, 0.4);
  box-shadow: 10px 10px black;
}
.box_1_div:hover .div_info p{  
  visibility: visible;
  transition-delay: 0.2s;
  display: block;
  bottom: 3px;  
  transition: 0.2s ease;

}

.box_1_div img{
  margin: 24px auto;
  width: 40px;
}

.about-list {
  position: relative;
/*  font-family: 'Robot',sans-serif;
*/
/*font-family: 'JetBrains Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;*/
width: calc(95%/2);
  /*font-family: "Inter",serif;*/

text-align: center;
padding: 10px;
letter-spacing: 1.4px;
line-height: 1.3;
/*  border:1px solid black;
*/  padding: 10px;
margin: auto;
}
.about-list h4{
  text-align: center;
  padding:0;
  margin:auto;
  background:rgba(206, 206, 206, 0.85);
  color: black;
  width: fit-content;
}


.about-list p{
  text-align: end;
  text-align: left;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin:0;
 color: #FFD700; /* Amarillo dorado */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra m谩s sutil */
  font-style: normal;  
  font-size: 15px;
}
.contenido-perfil {
  transition: opacity 0.5s ease;
  /* Otros estilos... */
}
#perfil_txt3 h4{
  text-align: left;
  margin: 10px 0;
}
/*Area frames dentro del div
*/
.frameworks{
  width: 100%;
  text-align: left;justify-content: center;

}
.frameworks h4{
  text-align: left;
}
.frameworks ul{
  display: flex;
  width: 100%;
}
.frameworks ul li{
  width: calc(90%/3);
  margin: auto;
  justify-content: center;
  transition: all 0.2s ease;
  height: 40px;
  align-content: center;
  text-align: center;
  background-color:rgba(10,10,10,0.1);

}

/*area idioma dentro del div*/
.idiomas ul{
  display: flex;
  width: 100%;
}
.idiomas ul li{
  width: calc(95%/4);
  border:1px solid black;
  margin:auto;
  padding:5px 0px;
  height: fit-content;
  align-items: center;
  align-content: center;
  position: relative;
  overflow:hidden;
  font-size:16px;
  color: #fff;
  background-color:rgba(3, 5, 9, 0.29);
}
.nativ{
  display: none;
  position: absolute;
  font-size: 16px;
}
.nativ p{
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 19px;
  transition:0.2s ease;
}

.idiomas ul li:hover .nativ,.idiomas ul li:focus .nativ{
  display: flex;
  top: 0px;
  width: 100%;
  background-color: rgb(20,20,20);
  color: white;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Aqui empiezaa las graficas de text3

*/

.distros{
  margin: 10px auto;
}
.grafica{
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
height:fit-content;
justify-content: center;
font-family: "IBM Plex Mono", monospace;
}
.grafica_title{
  text-align: center;

}
/*.grafica_flex{
  display: flex;
  }*/
  .grafica_div{
    width:100%;
    height:fit-content;
    margin:auto;
    justify-content: center;
    display: none;
    overflow: hidden;
    position: relative;


  }

  .grafica_div1{
   width: 100%;
   display:inline-flex;
   text-align: justify;
   align-content: center;
 }
 #active {

   width: 99%;
   text-align: center;
   opacity: 0; /* Inicia invisible */
   transition: opacity 0.5s ease, transform 0.5s ease; /* Agrega transici贸n */
   display: none; /* Se oculta por defecto */
   transform: scale(0.6);
 }

 #active.show {
  opacity: 1;  
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Agrega transici贸n */

}

#active.hide {
  opacity: 0;
  transform:  scale(0.8);
}

.close{
  cursor: pointer;
  left: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
}
.close:hover{
  filter: invert(100%);
  background-color:rgba(240,240,240,0.7);
}
.close img{
  margin:auto;
}
.grafica_div2{
  width: 100%;
  text-align: justify;
  align-content: center;
}
.grafica_info{
  width: 100%;
  margin: auto;
  height: fit-content;
}
.grafica_imagen{
  width: 50%;
  height:50%;
  margin: 10px auto;
  text-align: center;
}
.grafica_imagen img{
  justify-content: center;
  text-align: center;
  width: auto;
  margin: auto;
  max-height: 50px;

}
.grafica_texto{
  width: 80%;
  align-content: center;
  height:fit-content;
  background-color: #225355;
    margin: auto
}

/*Botones para js
*/
.botones{
  display: flex;
  width: 100%;
  margin:auto;
  height: 40px;
}
.botones button{
width: calc(100%/5);
  background-color: transparent;
  margin:
auto;
  height: 100%;
  color: black;
  display: flex;
  transition:0.4s ease;
  border:none;
  overflow:hidden;
  text-align: center;
  align-content: center;
  align-items: center;
  opacity: 0.8;
  filter: grayscale(100%) contrast(120%) brightness(90%);

}
.botones button:hover, .botones button:active, .botones button:focus, .botones button:target{
/*  zoom:1.1;
*/  opacity: 1; 
border:1px solid #1a1919b2;
transition:0.3s ease;
cursor: pointer;
box-shadow: 5px 5px black;
background-color:rgba(240,240,240,0.6);
color: #222;
z-index: 10;
filter: none;
}

.botones button img{
  height:100%;
  margin: auto;
}





/* Area de certificad */
.certificados{
  cursor: normal;
  width: 100%;
  margin:40px auto;
  height:auto;
  display: none;
  font-family:  "IBM Plex Mono", monospace;

}
.div-cer{

  text-align: center;
  width: 90%;
  height:100%;
  display: flex;
  position: relative;
  margin: auto;


}

.div-cer ul{
  display: block;
  grid-template-columns: repeat(auto-fill, minmax(calc(100%/4), 1fr));
  gap: 10px;
  width: 90%;
  justify-content: center; 
  align-items: center; 

}
.div-title{
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 10%;
  writing-mode: vertical-rl; 
}


.li-cer{  
  position: relative;
  height: auto;
  border:1px solid black;
  transform: rotate(calc(10deg - (20deg * random())));
  transition:2s linear;
}
.li-div{
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  justify-content: center;
  height:100%;
  z-index: 4;
  color: black;
  background-color: rgba(250,250,250,0.9);
  
}
.li-div h3{
  margin: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Toma toda la altura de la pantalla */
}

.li-cer:hover .li-div{  
  transition: 2s linear;
  display: none;
  z-index: 2;
}
.li-div_activo{
  transition: 2s linear;
  display: none;
  z-index: 2;
}


.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: normal;
  padding:0;
  z-index: 1;
  position: relative;
}



/* Footer */
footer {
  color: #111;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: auto;
}

/* skills */
.skills {
  color: black;
  position:relative;
  margin: 15px auto;
  width: 100%;
  height: calc(100%/2); 
  text-align: center;
  font-family: "IBM Plex Mono", monospace;

}
.skills h3{
  font-family: "IBM Plex Mono", monospace;
  width: fit-content;
  margin: 15px auto;
  padding: 4px;
  color: black;

}

.len{
  display: none;
  opacity: 40%;
}
.contenedor{
  display: flex;
/*  gap:17px;
*/  margin: auto;
justify-content: center;
}
.bloque{
/*    background-color: rgb(34, 34, 34);
*/
overflow: hidden;
padding: 10px;
display: block;
width: calc(100%/3);
height: 50px;
align-content: center;
justify-content: justify;
  background-color: #16423c75;
  transition-property: inherit;
/*  padding: 10px;
*/  transition-duration: 0.4s;
text-align: left;
/*  border:1px solid #f4f0f059;


*/
border:1px solid black;
margin: 10px;
}

.bloque:hover{
  padding: 10px;
background-color: rgba(0, 0, 0, 0.48); 
 transition-duration: 0.4s;
  width: 300px;
  height: 50px;

}


.bloque:hover .bar{
  display: flex;
}
.bloque:hover .name{
  padding: 5px;
  transition-duration: 0.4s;
  text-align: left;
}

.bar{
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: 16px;
  background-color: #000;
  text-align: center;
  display: none;
}
.num{
  width: auto;
  height: 100%;
  background-color: rgb(20,20,20);

}
#bar1,#bar2,#bar3,#bar4,#bar5,#bar6{
  font-size: 14px;
  height: 100%;
  color: black;
}
#bar1{
  background-color: #3584E4;
  width: 75%;
}
#bar2{
  background-color: #FFEA48;
  width: 60%;

}
#bar3{
  background-color: #FD8C20;
  width: 45%;
}
#bar4{
  width: 42%;
  background-color: #50FA7B;
}
#bar5{
  width: 95%;
  background-color: #A56DE2;
}
#bar6{
  background-color: #1ABC9C;
  width: 70%;
}

.name{
  margin: 3px;
  text-align: center;
  transition-duration: 0.4s;
  border-bottom: 3px solid ;

}
/*PAra javascript*/
.bloque_activo{
 padding: 10px;
 background-color: rgba(30,30,30,1);
 transition-duration: 0.4s;
 width: 300px;
 height: 50px;
}
.bar_activo{
  display: flex;

}
.name_activo{
  padding: 5px;
  transition-duration: 0.4s;
  text-align: left;
}
/*fin del java*/


/* Cambio a tema oscuro */
#color{
  position: absolute;
  left:  10px;
  top: 10px;
  display:flex;
}
.toggle-btn {
  width: 25px;
  height: 25px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.2s; /* Transici贸n m谩s suave */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border:1px solid #333;
  margin-right: 4px;
}


/* Fin del cambio de color*/


/*Stylo de la hoja about*/

.abt_cont{
  background-color: rgba(23, 28, 24, 0.67);
  width: 95%;
  margin: 40px auto;
  height: fit-content;
  display: block;
  color: #ecec7cc9;
  justify-content: center;
  align-content:center;
  text-align: center;
  border:0.7px solid black;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
}
.abt_contact ul li a{
  color: black;
}
.abt_contact ul li a:hover{
  background-color: black;
  color: white;
}
.abt_title{
  justify-content: left;
  width: 90%;
  height: fit-content;
margin: auto;
margin-top: 40px ;
font-family: "IBM Plex Mono", monospace;
display: flex;
 text-decoration: none;
  color: #A56DE2;

  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s;


}
.abt_title a{
  cursor: default;
  color: #1119;
  margin-right: 20px;
  font-size:17px;
}
.abt_title a:hover {
  color: white;
  background-color: #2d2c2c;
}

.abt_cont_div{
  width: 90%;
  height: fit-content;
  margin: auto;
  display: flex;
  font-family: "IBM Plex Mono", monospace;
  list-style: circle;

}
.abt_info{
  width: calc(100%/2);
  margin: 20px auto;
/*  border:1px solid black;
*/  height: auto;
}
.abt_info_ul{
  text-align: left;
  height: auto;
  margin: 0;
}
.abt_info_ul h4{
  height:10%;
  margin: 0;
  padding:7px;
}

.abt_info_ul li{
  height: calc(89%/3) auto;
  opacity: 50%;
  margin: 30px auto;
/*  border-right: 1px solid black;
*/
}
.abt_info_ul li:hover{
  opacity: 100%;
}
.abt_info_ul p{
  padding:7px;
}

.abt_contact {
  width: calc(100%/2);
  margin: 25px auto;
}
.abt_contact span{
  display: flex;
  height: fit-content;
  margin: auto;
  width: 100%;
}
.abt_contact span img{
  margin: auto;
  width: 50%;
  height: fit-content;
}
.abt_contact ul{
  text-align: center;
/*  list-style: square inside;
*/
list-style: square;
width: 80%;
margin: 20px auto;

}

.abt_web{
  position: relative;
  height:auto;
}
.btn {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 27px;
  height: 27px;
  border-radius:50%;
  border:1px solid black;
  visibility: 70%;
  background-color: transparent;
  transition:all 0.2s ease;

}

.btn:hover {
  background-color: #224039; 
  visibility:100%;
  cursor: pointer;
  transform: scale(1.3);


}

.abt_final{
  width: 100%;
  margin: 10px auto;
}
.abt_final ul{
  width: 90%;
  height:fit-content;
  margin: auto;
  list-style: none;
  text-align: center;
}
.abt_final ul li{
  margin:15px auto;
  text-align: center;
}
.old{
  text-align: center;
  width: 100%;
  height:fit-content;
  color: #403636;
  margin: 10px auto;
  margin-top:20px;
}
.old a{
  display: block;
  color: black;
  margin: 20px ;
}
.old a:hover{
  color: white;
  background-color: #1119
}



/*Meidaquerys para movil*/

/*  Estilos para m贸viles (menos de 900px) */
/*Primera pagina*/
@media (max-width: 900px) {


  .code-box{
    display: block;
    padding:0;
  }
  .about-list , .box{
    width: calc(97%/1);
    padding:0;
  }
  .about-list h2{
    margin: 10px auto;
    text-align: center;

  }
  .title{
    display: block;
    width: 100%;  
    height:fit-content;
  }
  .div-title {
    writing-mode: none;
    width: 100%;
  }
  .project_div{
    overflow: scroll;
  }
  .div-cer ul{
    width: 100%;
  }
  .Proceso {
    width: 100%;
    height: fit-content;
    margin: 100px auto;
    display: flex;
  }
  .Proceso_container {
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    position: relative;
  }
  .proceso_static {
    width: 100%;
    display: block;
    position: relative;
  }
  .procesos_div1 {
    position: relative;
    width: 90%;
    height: 400px;
    min-width: 70%;
    margin: auto;
  }
  .procesos_div2 {
    position: relative;
    width: 90%;
    height: fit-content;
    text-align: center;
    min-width: 300px;
    margin: auto;
  }
  .procesos_div1 h2 {
    position: absolute;
    color: white;
    transform: rotate(330deg);
    background-color: black;
    left: -65px;
    top: -13px;
    z-index: 2;
    padding: 5px 10px;
    font-size: 21px;
  }

}

@media (max-width: 500px) {
  .div-cer{
    display: block;

  }
  .len{
    display: block;
    color: black;
    margin: auto;
    text-align: center;
    widows: 95%;

  }
  .about_list p{
    letter-spacing: 0.3px;
    text-align: justify-all;
  }
  .div-title{
    width: 100%;
    display: block;
    justify-content: center;
    align-content: center;
    text-align: center
  }
  .title{
    text-align: center;
  }
  .title span{
    width: 95%;
    height: 100%;
    margin: auto;
/*  border-bottom: 1px solid black;
*/  margin: auto;
}
.div-title h2,
.div-title p{
  margin: auto
}

.about-list h2{
  margin: 10px auto;
  text-align: center;
  
}
.botones{
  display: flex;
}
.botones button{
  width:  100%;
}
.about-list p{
  text-align: center;
}
.about-list h4{
  margin:10px auto;
}
.preview{
  background-color: #E5E5E5;
  opacity: 1;
}
.grafica{
  display: block;
  height:fit-content;
  width: 100%;
}
.idiomas ul{
  display: block;
}
.idiomas ul li{
  width: 90%;
  margin: 10px auto;
}

}

/*segunda hoa*/
/*Segunda hoja*/
@media (max-width: 900px) {

  .abt_cont_div{
    width: 95%;
    display: block;
  }
  .abt_info{
    width: 100%;

  }
  .abt_contact{
    width: 95%;
  }
}

@media(max-width: 600px){
  .abt_cont{
    width: 95%;
  }
}






